body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Bangers  Luckiest Guy Chewy Baloo */
}


.round-history {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    height: 4rem;
    width: 100%;
    gap: 5px;
    /* border: 2px solid red; */
    display: flex;
    display: none;
    align-self: flex-start;
    overflow: auto;
    /* gap: 2px; */
    scrollbar-width: none;
}

.round-number {
    text-align: center;
}

.players-name {
    display: flex;
    text-align: end;
    align-self: flex-end;
    flex-direction: column;
}

.round-text {
    padding-bottom: 5px;
}


.round-result {
    display: flex;
    text-align: end;
    align-self: flex-end;
    flex-direction: column;
}

.player {

    font-weight: bold;
    margin-top: 1rem;
}

.disable {
    user-select: none;
    /* Prevent text selection */
    pointer-events: none;
    /* Disable clicking and interactions */
    opacity: 0.5;
    /* Make it look disabled */
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    margin-right: 10px;
    font-size: 2rem;
    padding: .5rem;
}

.vs {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-style: italic;
    /* height: 100%; */
}

h5 {
    margin: 0;

}

.round-count {
    width: 5rem;
    height: 1.5rem;
    padding: 2px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    border-radius: 8px;

}

.rounds-container {
    /* border: 2px solid red; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
}

.main-container {
    border: 1px solid black;
    box-sizing: border-box;
    width: 95vw;
    aspect-ratio: 1/1;
    background: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}


h1 {}

.game-container {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    /* gap: 50px; */
    margin-left: 25px;
    margin-right: 25px;

}

#speedControlContainer, #choose-wisely {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

.user-container {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 40%;
    flex-direction: column;

}
.userbutton {
    font-size: 1.2rem;
    cursor: pointer;
}

#resetSpeed {
    /* margin-left: 15px; */
}


.list {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
}

.button-container {}

.comp-random-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    overflow: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
}

.comp-random-list span {
    display: inline-block;
    /* font-size: 2rem;  */
    margin-right: 5px;
}


.comp-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: 40%;
}

.choice-dis {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    aspect-ratio: 1/1;
}

.user-choice-dis {}

.comp-choice-dis {}


.score {
    flex-shrink: 0;
    font-size: 2rem;
}

.play-button {
    text-align: center;
    height: fit-content;
    font-size: 2rem;
    padding: 2px 20px 2px 20px;
    margin-top: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.button-stop {
    display: none;
    text-align: center;
    height: fit-content;
    font-size: 2rem;
    padding: 2px 20px 2px 20px;
    font-family: 'Fredoka', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}




@media (min-width: 1024px) {


    .round-history {
        scrollbar-width: 10px ;
    }
    .main-container {
        width: 30vw;
        padding: 0 20px;
    }



    .round-count {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
    }

    .game-container {
        width: 90%;
        margin: 0 auto;
    }

    .choice-dis {
        font-size: 7rem;
    }

    .score {
        font-size: 2rem;
    }

    .play-button {
        font-size: 2rem;
        padding: 2px 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h5 {
        font-size: 2rem;
    }

    .list {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 100%;
        font-size: 1.5rem;


    }

    .comp-random-list {
        padding: 1rem;
        /* background-color: red; */
    }

    .userbutton {
        font-size: 1.5rem;
        width: fit-content;
        height: fit-content;
    }
}