:root {
    --soft-green: #a7d7a7;
    --soft-red: #f4a3a3;
    --soft-blue: #a3c4f3;
}



body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Bangers  Luckiest Guy Chewy Baloo */
}


.round-history {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 8px;
    height: 4rem;
    width: 100%;
    gap: 5px;
    /* border: 2px solid red; */
    display: flex;
    display: none;
    align-self: flex-start;
    overflow: auto;
    /* gap: 2px; */
    scrollbar-width: none;
    user-select: none;
}

.round-number {
    text-align: center;
}

.players-name {
    display: flex;
    text-align: end;
    align-self: flex-end;
    flex-direction: column;
    user-select: none;
}

.round-text {
    padding-bottom: 5px;
}


.round-result {
    display: flex;
    text-align: end;
    align-self: flex-end;
    flex-direction: column;
}

.player {

    font-weight: bold;
    margin-top: 1rem;
}

.disable {
    user-select: none;
    /* Prevent text selection */
    pointer-events: none;
    /* Disable clicking and interactions */
    opacity: 0.5;
    /* Make it look disabled */
}
.play-stop {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}


.stats-box {
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    font-weight: bold;
    gap: 30px

}

/* #statsDisplay p {
    display: flex;
    justify-content: space-between;
    width: 100px;
    } */
.text-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

p {
    margin: 0;
}


h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    margin-right: 10px;
    font-size: 2rem;
    padding: .5rem;
}

.vs {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 9rem;
    font-style: italic;
    /* height: 100%; */
}

h5 {
    margin: 0;

}

.round-count {
    width: 5rem;
    height: 1.5rem;
    padding: 2px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    border-radius: 8px;

}

.rounds-container {
    /* border: 2px solid red; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
}

.main-container {
    border: 1px solid black;
    box-sizing: border-box;
    width: 95vw;
    aspect-ratio: 1/1;
    background: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}


h1 {}

.game-container {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    /* gap: 50px; */
    margin-left: 25px;
    margin-right: 25px;

}

#speedControlContainer, #choose-wisely {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 18px; */
    height: 18px;
    margin-top: 2px;

}

.user-container {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 40%;
    flex-direction: column;

}
.userbutton {
    font-size: 1.2rem;
    cursor: pointer;
}

.round-result-history {

    /* display: flex;
    flex-direction: column;
    gap: 2px; */
}

.userbutton:active {
transform: scale(.8) ;
}



.list {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    
}

#resetSpeed {
    font-size: 18px;
}

.comp-span {
    border: 1px solid gray;
    background-color: white;
    height: 80%;
    /* aspect-ratio: 1/1; */
    margin: 0;
    /* width: auto; */
    padding-left: 3px;
    user-select: none;
    padding-right: 3px;
    font-size: 1.2rem;
}

/* Click effect */
.button-controls:active {
    /* background: rgba(0, 0, 0, 0.2); */
    transform: scale(0.9);
}

.material-icons {
    user-select: none;
    
    cursor: pointer;
    padding: 0;
    margin: 0;
    /* height: 15px; */
    /* font-size: 14px; */
    /* background-color: red; */
}
.material-icons:active {
    transform: scale(0.8);

}


.list {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    
}

.comp-random-list {
    height: 2rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
    overflow-x: auto;
    white-space: nowrap; /* Ensures items stay in one line */
    cursor: grab;
    gap: 2px;
    padding: 0.5rem;
    scrollbar-width: none; /* Hides scrollbar in Firefox */.

}

/* Hide scrollbar for Webkit-based browsers */
.comp-random-list::-webkit-scrollbar {
    display: none;
}


.comp-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: 40%;
}

.choice-dis {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 1/1;
}

.user-choice-dis {}

.comp-choice-dis {}


.score {
    flex-shrink: 0;
    font-size: 2rem;
}

.play-button {
    text-align: center;
    height: fit-content;
    font-size: 2rem;
    padding: 2px 20px 2px 20px;
    margin-top: 1rem;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.button-stop {
    display: none;
    text-align: center;
    height: fit-content;
    font-size: 1.5rem;
    padding: 2px 20px 2px 20px;
    font-family: 'Fredoka', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1rem;
}

#compWins, #userWins {
    color: green;
}

#compLose, #userLose {
    color: red;
}

#draw {
    color:blue;
}




@media (min-width: 1024px) {


    .round-history {
        scrollbar-width: 10px ;
    }
    .main-container {
        width: 30vw;
        padding: 0 20px;
    }



    .round-count {
        width: 5rem;
        height: 2rem;
        font-size: 2rem;
    }

    .game-container {
        width: 90%;
        margin: 0 auto;
    }

    .choice-dis {
        font-size: 7rem;
    }

    .score {
        font-size: 2rem;
    }

    .play-button {
        font-size: 2rem;
        padding: 2px 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h5 {
        font-size: 2rem;
    }

    .comp-random-list {
        box-sizing: border-box;
        /* background-color: red; */
        display: flex;
        /* justify-content: space-around; */
        padding: 0px;
        align-items: center;
        height: 2rem;
        width: 100%;
        font-size: 1.5rem;
        /* scrollbar-width: thin; */
    }

    .comp-span {
        margin: 0;
        font-size: 1.5rem;
        border: 1px solid gray;
        background-color: white;
        height: fit-content;
        /* aspect-ratio: 1/1; */
        /* width: auto; */
        padding-left: 3px;
        padding-right: 3px;
    }

    .userbutton {
        font-size: 1.5rem;
        width: fit-content;
        height: fit-content;
    }
}